* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #222;
    color: #ddd;
    line-height: 1.7;
}

img {
    height: 500px;
}

.slider-container {
    height: 100vh;
    display: inline-flex;
    overflow: hidden;
    transform: translateX(0);
    transition: transform 300ms ease-out;
    cursor: grab;
}